.cursor-pointer{
    cursor: pointer;
}

.formLoginControl{
    padding: 10px 14px 10px 14px;
    border-radius: 8px;
    border-color: #D5DAE1;
}

.modal-custom {
    background-color: var(--primary-btn) !important; /* Default to light theme background color */
  }
  

