.shareText{
    background: #F2F3F4 !important;
    border: 0;
}

.shareText1{
    background: #F2F3F4 !important;
}
.chipTxt{
    width: 100%;
    max-width: fit-content;
}

#input-group-dropdown-1{
    border-radius: 0px 8px 8px 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

#input-group-dropdown-1, .btn.show {
    background: var(--primary-btn) !important;
    color: var(--form-shade) !important;
}

.bodm{
    border-radius: 8px 0px 0px 8px !important;
}

