#footer {
  background: var(--bg-navbar);
  border-top: 1px solid #e2e3e4;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px; /* Height of the footer */
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
  z-index: 999;
}
#footerbuttondown {
  background-color: var(--bg-secondary);
  color: blue;
  font-size: 20px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -32px;
  border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #e2e3e4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#footerbuttondown img {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
}
#footerbuttonup {
  cursor: pointer;
  border: 1px solid var(--bg-secondary);

  background-color: var(--bg-secondary);
  color: blue;
  font-size: 20px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  top: -107px;
  border-radius: 5px;
  border-radius: 5px;
  visibility: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#footercont {
  position: absolute;
  top: 50px;
  opacity: 1;
  transition: opacity 1s, visibility 2s, display 2s;
  width: 100%;
}
#centerbutton {
  align: center;
  width: 100%;
}

input[type="range" i] {
  --c: var(--primary-btn); /* active color */
  --g: 2px;
  --l: 3px;
  --s: 20px;

  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}
input[type="range" i]:focus-visible,
input[type="range" i]:hover {
  --p: 25%;
}
input[type="range" i]:active,
input[type="range" i]:focus-visible {
  --_b: var(--s);
}
/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background:var(--primary-btn);
  color: var(--bg-navbar);
  border: 0;
  border-radius: 0;
}