/* ... existing styles ... */

.zoomable {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.zoomable__img {
  transform-origin: var(--zoom-pos-x, 0%) var(--zoom-pos-y, 0%);
  transition: transform 0.15s linear;
}
.zoomable--zoomed .zoomable__img {
  cursor: zoom-in;
  transform: scale(var(--zoom, 2));
}
.slider {
  padding-top: 0px !important;
  color: #fff;
}
.slider .swiper-container {
  width: 100%;
  height: 100%;
}
.slider__flex {
  display: flex;
  align-items: center;
}
.slider__col {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 32px;
}
.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
  outline: none;
}
.slider__thumbs {
  height: calc(600px - 96px);
}
.slider__thumbs .thumbnail__image {
  cursor: pointer;
  transition: 0.25s;
  border: 2px solid #ccc;
}

.slider__thumbs .thumbnail__image:hover {
  opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .thumbnail__image {
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  border: 2px solid #27aae1;
}
.slider__images {
  height: 400px;
}
.slider__images .main__image img {
  transition: 3s;
}

.slider__images .main__image:hover img {
  /* Your hover styles for main images */
}
.slider__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add this line for box shadow */

  border: 1px solid #ccc;
}
.slider__image img {
  display: block;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 767.98px) {
  .slider__flex {
    flex-direction: column-reverse;
  }
  .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 24px;
    width: 100%;
  }
  .slider__images {
    width: 100%;
  }
  .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 16px;
  }
  .slider__prev,
  .slider__next {
    height: auto;
    width: 32px;
  }
}

.zoom {
  position: relative;
  width: 500px;
  float: right;
  z-index: 50;
  mix-blend-mode: multiply;
}

.drift-open {
  border: 0 !important;
}

.drift-zoom-pane {
  background: #fff !important;
  border: 0 !important;
}

