.ToolSidebar{
    border-right: 1px solid #E2E3E4;
    border-color: #FFFDFF;
    padding: 10px 15px 10px 15px;
    border: 1px solid #E2E3E4;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    height: calc(100vh - 148px);
    /* height: 100vh; */
}
#input-group-dropdown-2 {
  font-size: 13px;
  border: 0;
  border-radius: 8px 8px 8px 8px !important;
  background: var(--form-shade);
  color:var(--text-primary);
  z-index: 1000; /* or a higher value if needed */
  position: relative; /* or absolute, depending on your layout */
  height: 100px;
  max-height: 35px;
}
#input-group-dropdown-3 {
  border: 0;
  font-size: 13px;
  border-radius: 8px 0px 0px 8px !important;
  background: var(--form-shade);
  color: var(--text-primary);
  z-index: 1000; /* or a higher value if needed */
  position: relative; /* or absolute, depending on your layout */
  height: 100px;
  max-height: 35px;
}

#layerDrp{
  font-size: 13px;
  border-radius: 8px 8px 8px 8px !important;
  background: #f2f3f4;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boldIc{
  background:var(--form-shade) ;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin-right: 4px;
}

#input-group-dropdown-3:hover {
  color: #000;
}


#fontFam{
  font-size: 13px;
  color: #000;
  text-align: start;
}

#drpMenu{
  margin-top: 4px;
  margin-left: -4px;
  border: 1px solid #6c757d;
  background: var(--form-shade);
}
#drpMenu .dropdown-item{
  color: var(--text-primary) !important;
}

.caaretImg{
  width: 23px;
  height: 23px;
}

.lineBtn .lineico:hover{
  filter: brightness(1);
}

#colorPick{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#fontFam:last-child{
  border-bottom: 0;
}

.custom-dropdown-class2{
  width: 12px !important;
}

.fontCat{
  max-width: 23vh;
  flex-wrap: nowrap;
}
.fontCatSome{
  /* max-width: 23vh; */
  flex-wrap: nowrap;
}

.fontCat1{
  max-width: 23vh;
  flex-wrap: nowrap;
}
.lineico1{
  max-width: 4vh;
  filter: var(--image-filter);
}
.catMain{
  padding-left: 12px;
  padding-right: 12px;
}
#textDro{
  background: var(--form-shade);
  color: var(--text-primary);
  border: 0;
  /* border: 1px solid #6c757d; */
  border-radius: 0px 8px 8px 0px !important;
  padding-bottom:0;
  padding-top: 0;
  width: 10vh;
}
#textDro:focus{
  box-shadow: none;
}
.custom-popover {
  width: 300px;
  max-width: 270px;
}

  .iconBar a {
    display: block;
    text-align: center;
    padding: 8px 8px 8px 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 35px;
    border-bottom: 1px solid #D5DAE1;
  }
  
  
  .iconBar a:hover {
    padding: 8px 8px 8px 8px;
    background-color: #007AFF;
    border-radius: 4px;
  }

  .iconBar img:hover { 
    filter: invert(1);
  }
  
  .active {
    background-color: var(--primary-btn);
  }
  
  .shapes-menu{
    width: 300px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    z-index: 99999;
    background: var(--primary-sidebar) !important;
  }
  .accordion-button:hover{
    z-index: 0;
  }

  .activeLayer {
    background-color: #007AFF;
    border-radius: 4px;
  }
  .activeLayer img {
    filter: invert(1);
  }

  .shapes-menu li:hover {
    background: #F2F3F4;
    border-radius: 8px;
    color: #fff;
  }

  .shapes-menu li.active { 
    background:#007AFF ;
    border-radius: 8px;
  }

  .shapes-menu li.active  {
    color: #fff;
   }


   .active-label {
    color: #fff !important;
  }

  .active-icon {
    filter: brightness(0) invert(1); /* This CSS filter inverts the color */
  }

  .fillImg4{
    filter: var(--toolFil) !important;
  }