.selectPrint{
    background-color: #F5F5F5 ;
    border: 0;
}

.filter-white {
    filter: brightness(0) invert(1);
  }
  
  /* PrintOffcanvas.css */
.custom-accordion .accordion-item {
    border-top: 1px solid #D7D7DB;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  
  .custom-accordion .accordion-header {
    position: relative;
  }
  
  .custom-accordion .accordion-header::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    position: absolute;
    right: 1rem; /* Adjust as needed */
    top:0;
    font-size: 1.2rem; /* Adjust size as needed */
    transition: transform 0.2s ease;
    width: 0.8rem; /* Adjust size as needed */
    filter: contrast(0.5);
    height: 1.2rem; /* Adjust size as needed */
  }
  
  .custom-accordion .accordion-header.collapsed::after {
    transform: rotate(-90deg);
  }
  .offcanvas{
    background: var(--bg-navbar);
  }

  .pageBreak{
    color: var(--primary-btn);
  }
.accordIt{
  background: var(--bg-navbar);
}

.accordion  .accordion-item .accordion-header .accordion-button {
  background: var(--bg-navbar);
  color: var(--text-primary) !important;
}