/* Styles for collapsed accordion */
.accItem .accordion-button.collapsed {
  border-radius: 12px 12px 0px 0px !important;
  color: #000 !important; /* Change text color to black when collapsed */
}

.accItem .accordion-button.collapsed .openHeaderImg {
  filter: brightness(0.5);
}

.filImg{
  filter: var(--image-filterdk) !important;
}

.filImgICO{
  filter: var(--image-filterICO) !important;
}

.accItem .bodyLayer {
  background: #ebf3ff;
  border-radius: 0px 0px 12px 12px;
  height: 100vh;
  max-height: 30vh;
  overflow-y: auto;
}

.layerContainer{
  height: 100vh;
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.accItem .accordion-button.collapsed .propertyTextLabel1 {
  color: var(--text-primary) !important; /* Adjust label color when accordion is collapsed */
}
.accItem .filImg .accordion-button:not(.collapsed){
  filter: var(--image-filter) !important;
}
.fillImg1{
  filter: var(--image-filter) !important;
}

.propertyTextLabel1 {
  display: block;
  color: var(--bg-navbar);
}

/* Styles for expanded accordion */
.accItem .accordion-button:not(.collapsed) {
  border-radius: 12px 12px 0px 0px !important;
  background: var(--primary-btn) !important;
  color: var(--text-primary) !important; /* Change text color to white when expanded */
}

.accItem .accordion-button:not(.collapsed) .openHeaderImg {
  filter: drop-shadow(2px 4px 6px black);
}

/* Adjust label color for dark theme */
.dark-theme .propertyTextLabel1 {
  color: #000 !important;
}

.layerText {
  color: var(--text-secondary);
}

.filterBTN.active {
  background-color: #007bff !important; /* Example active background color */
  border-color: #007bff; /* Example active border color */
}

/* .customsvg{
  filter: brightness(0.5);
}

svg.actives.customsvg{
  filter: invert(1);
} */


.checkbox {
  font-size: 16px;
  user-select: none;
  box-sizing: content-box;
}

.tree-branch-wrapper {
  width: 100%;
}

.checkbox .tree,
.checkbox .tree-node,
.checkbox .tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 10px;
}

.tree-leaf-list-item {
  width: 100%;
}

.checkbox .tree-node-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 8px;
  transition: background-color 0.3s ease;
  background: #eaf3ff;
}

.checkbox .tree-node-content:not(:last-child) {
  background-color: #6495ed;
}

.checkbox .tree-node-content.tree-node-expanded {
  background-color: #2244ff;
}

.checkbox .tree-branch-wrapper > .tree-node-content:not(.tree-node-leaf) {
  width: 100%;
  background-color: #2244ff;
  border-radius: 12px 12px 0px 0px;
}

.checkbox .tree-node {
  cursor: pointer;
}

.parent-node {
  margin-bottom: 7px;
}

.parent-node-expanded {
  margin-bottom: 0px;
}

.checkbox .tree-node .name:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.checkbox .tree-node--focused .name {
  background: rgba(0, 0, 0, 0.2);
}

.node-info {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  visibility: hidden; /* Hide icons by default */
}

.checkbox .tree-node-content:hover .icons {
  visibility: visible; /* Show icons on hover */
}

.checkbox .checkbox-icon {
  margin: 0 5px;
  vertical-align: middle;
}

.checkbox .arrow {
  margin-left: 5px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.checkbox .arrow--open {
  transform: rotate(90deg);
}

.checkbox button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.teaText {
  color: #000 !important; /* Adjust to the desired color */
}

/* Example class for Tea section background */
.teaInnerChild {
  background: #eaf3ff !important;
  border-radius: 0 !important;
}

.node.active.child-node {
  border: 1px solid black;
}
