/* LandingProjectsTab.css */
.transparent-tab-content {
    background-color: transparent !important;
    border: none; /* Removes the border around the content area */
    padding: 20px; /* Optional: Adjust padding as needed */
  }
  
  #landing-projects-tabs-tabpane-created.active{
    background: transparent !important;
  }
  #landing-projects-tabs-tabpane-organization.active{
    background: transparent !important;
  }
  #landing-projects-tabs-tabpane-accessible.active{
    background: transparent !important;
  }