.switches-container{
    display: flex;
    align-items: center;
    border: 2px solid #F2F3F4;
    border-radius: 8px;
    padding: 5px;
    justify-content: space-between;
}

.commonIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.commonIcon.active {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    height: 35px;
    width: 35px;
    background-color: #F2F2F2;
}
