.container11 {
  display: flex;
  flex-direction: column;
}

.sidebar1{
  position: relative;
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
}

.bgDarkLightSide{
  background: var(--bg-navbar);
}

.content{
  display: flex;
  flex:1;
}


.left-sidebar {
  position: relative;
  width: 100%;
  /* max-width: 45vh; */
  overflow: visible;
  
}

.propertyMainSide{
  position: absolute;
  left: 55px;
  width: 380px;
  max-width: 380px;
  right:0;
  bottom: 0;
  top: 0;
  z-index: 99;
  background: var(--bg-navbar);
  overflow-x: hidden;
  overflow-y: auto;
}

.right-sidebar {
  position: relative;
  width: 100%;
  max-width: 45vh;
  overflow: visible;
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
}

.left-sidebar.collapsed {
  width: 74px; /* Collapsed sidebar width */
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
}

.right-sidebar.collapsed {
  width: 74px; /* Collapsed sidebar width */
  -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
}

.right-sidebar.collapsed {
  width: 0;
  overflow: hidden;
    -webkit-transition: height 0.5s, visibility 0.5s;
  transition: height 0.5s, visibility 0.5s;
}

.main11 {
  flex: 1 1;
  overflow: auto;
  --grid-color-light: #eee; /* Define light grid color */
  --grid-color-dark: gray; /* Define dark grid color */
  --grid-size: 2em;
  background: var(--grid-color-light) url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 2 2%27><path fill=%27%23fff%27 d=%27M0 0h1v1H0zM1 1h1v1H1z%27/></svg>) 0 0 / var(--grid-size);
}

.dark-theme .main11 {
  background: var(--grid-color-dark) url(data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 2 2%27><path fill=%27%23fff%27 d=%27M0 0h1v1H0zM1 1h1v1H1z%27/></svg>) 0 0 / var(--grid-size);
}


.editorAreaHeight{
  display: block;
  height: calc(100vh - 148px);
  overflow: hidden;
}



.toggle .handle {
  height: 4px;
  width: 100px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  /* left: 0; */
  z-index: 100;
  cursor: pointer;
}

/*
  putting a css border on canvas makes pts return large decimal values ??
  */

  .leftBtn {
    margin-right: -60px;
    border: 1px solid #e2e3e4;
    background-color: #fff;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding-top: 3px;
    padding-bottom: 3px;
  }

.triangle-left {
  width: 0;
  height: 0;
  display: contents;
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}

.leftImg {
  transform: rotate(90deg);
  height: 20px;
  width: 20px;
}

/* Right */

.rightBtn {
    margin-left: -34px;
    border: 1px solid var(--bg-secondary);

    background-color: var(--bg-secondary);
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    
  }

.triangle-right {
  width: 0;
  height: 0;
  display: contents;
  transform: rotate(90deg); /* Equal to rotateZ(45deg) */
}

.rightImg {
  transform: rotate(270deg);
  height: 20px;
  width: 20px;
}

#input-group-dropdown-0{

  background-color: var(--form-shade);
  color: var(--text-primary);
  border: 0;

}