.searchTextInput {
  border: 1px solid #d7d7d7;
  border-radius: 40px;
  padding: 15px 20px 15px 20px;
}
.searchTextButton{
    border-radius: 0px 40px 40px 0px !important;
  letter-spacing: 0.5px;
  background: var(--primary-btn) !important;
  color: var(--bg-navbar) !important;

}
.searchTextInput::placeholder {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  color: var(--text-primary);
}

.LandingRecentDesign .recentDesignCards .card {
  background-color: transparent; /* Set the background to transparent */
  border: none; /* Remove border */
}

.tdKLi{
  color: var(--text-primary);
  font-weight: 500;
  font-size: 16px;
}

.activeRecent{
  background: var(--primary-btn);
  padding: 2px;
  border-radius: 5px;
}
.white{
  color: #fff;
}

.NoProjectFound{
  /* mix-blend-mode: darken; */
}