.editor-canvas-container {
  width: 100%;
  height: calc(100vh - 148px);
  position: relative;
  overflow: hidden; /* Initially show scrollbar */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.editor-canvas {
  display: block;
}

