
.settingDropCommon{
    border-radius: 8px;
    background: #F2F3F4;
    color:  #000;
    border: 0;
    font-size: 15px;
    padding: 7px;
}

.settingDropCommon:hover{
    background: #F2F3F4 !important;
    color: #000 !important;
}
.settingDropCommon, .btn.show{
    background: var(--form-shade) !important;
    color: var(--text-primary) !important;
    border: 0;
}
