.parent {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.mainEditorArea {
  display: flex;
  flex-grow: 1;
}


/* --------- Non-flexbox related styles --------- */
.toolSidebar {
  display: flex;
  padding: 10px;
  line-height: 20px;
  color: #000;
  border-right: 1px solid #e2e3e4;
 /* height: 100vh; */
  /* max-height: fit-content; */
  overflow: visible;
}

.propertySidebar {
  display: flex;
  width: auto;
  max-width: min-content;
  padding: 10px;
  line-height: 20px;
  color: #000;
  border-right: 1px solid #e2e3e4;
}




/* .dot {
  background-repeat: repeat;
  background-color: #CBCCCF;
} */
.dot--1 {
  background: linear-gradient(90deg,#f9fafb 15px,transparent 1%) 50%,linear-gradient(#f9fafb 15px,transparent 1%) 50%,rgba(0,0,0,.24);
  background-size: 18px 18px;
}
