.react-calendar{
   border: 2px solid #E2E3E4 !important; 
   border-radius: 10px !important;
   width: 300px !important;
   font-family: "Inter", sans-serif !important;
   height: 100%;
   max-height: max-content;
   background: var(--bg-navbar);
}
.calBt{
    background: var(--bg-navbar); 
}
.react-calendar__tile:disabled{
    background-color: transparent !important;
    color: var(--text-primary) !important;
}
abbr[title]{
    text-decoration: none;
}
.react-calendar__month-view__weekdays{
    border-bottom: 1px solid #E2E3E4;
    margin-bottom: 12px;
    margin-left: 8px;
    margin-right: 8px;
}
.react-calendar__month-view__days{
    margin-left: 8px;
    margin-right: 8px;
}

.react-calendar__month-view__weekdays__weekday{
    color: var(--text-secondary);
}
.react-calendar__navigation button{
    color: var(--text-primary);
}

.react-calendar__tile{
    color: var(--text-primary);
    
}