/* FillSettings.css */

/* Make the accordion background transparent */
.accordion {
  background-color: transparent;
}

/* Make the accordion headers transparent */
.accordion-header {
  background-color: var(--bg-navbar);
}

/* FillSettings.css */

/* Hide default accordion indicators */
.accordion-button::after {
  display: none !important;
}
/* FillSettings.css */
/* FillSettings.css */

/* Hide default dropdown toggle arrow */
.dropdown-toggle::after {
    display: none !important;
}

/* Hide default accordion indicators */
.accordion-button::after {
  display: none !important;
}
.accordion-button{
    padding: 5px;
    color: #000 !important;
    font-weight: 500 !important;
    background: var(--bg-navbar);
}
/* Make the accordion bodies transparent */
.accordion-body {
  background-color: var(--bg-navbar);
  border: none; /* Remove border */
}
.accordion-button:not(.collapsed) {
  background: transparent;
  border-bottom: 0;
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
}

[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
    color: #878787;
    font-size: 14px;
  }
  [type="file"]::-webkit-file-upload-button {
    background: #2244FF;
    border: 2px solid #2244FF;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 7px 15px;
    text-transform: uppercase;
    transition: all 1s ease;
  }
  

  
