#main-menu .nav-bar {
  list-style: none;
  margin-top: 16px;
}
#main-menu .nav-bar li {
  display: inline;
  padding: 0 6px;
}

#main-menu .nav-bar li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
}

.propertyTextBox {
  display: block;
  background: var(--form-shade);
  color: var(--text-primary);
  padding: 10px;
  border-radius: 12px;
}

.propertyTextContainer {
  display: block;
  width: 100%;
}
.propertyTextLabel {
  display: block;
  color: var(--text-primary);
}

.propertyTextBox:focus {
  background-color: var(--form-shade);
  box-shadow: none !important;
}

.hrColor{
  border-top: 1px solid #E2E3E4;
  opacity:0.9;
}

.labelProp{
  font-size: 18px;
}

.buttonToggle{
  position: absolute;
  left: 0;
}
/* Icons courtesy of Thom : http://pixelb.in/assorted-pixel-perfect-14px-icon-set-286/ */
.dropdown-menu.show{
  border-radius: 12px;
  padding: 5px 5px 5px 5px;
}

.custom-item-class{
  padding: 10px 10px 10px 10px;
  border-radius: 12px;
}
.custom-item-class:hover{
  padding: 10px 10px 10px 10px;
  background: #EBF3FF;
  border-radius: 12px;
}

